<template>
  <q-page >
    <div class="row flex-center">
     <img style="width: 50%"
      src="~assets/googlelogo_color_272x92dp.png"
    >
    </div>
<div class="row q-py-lg flex-center">
<div class="q-ml-md">
<q-btn color="white" text-color="black" label="Recherche Google" ></q-btn>
</div>
<div class="q-ml-md">
 <q-btn color="white" text-color="black" label="J'ai de la chance"></q-btn>
  </div>
  </div>
  <div class="row flex-center">
<b >
  Google offered in: Français
</b>
  </div>
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
  data () {
    return {
      text: ''
    }
  }
}
</script>
